:root{
   --cor1: #444;
   --cor2: #dec129;
}

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color: var(--cor1);
}

a{
   text-decoration: none;
   color: var(--cor1);
   transition: .4s;
}

a:hover {
   color: var(--cor2);
}

/* FORM */ 
form {
   width: 450px;
   margin: 0 auto;
}

.form-group{
   display: flex;
   flex-direction: column;
   margin-bottom: 1em;
}

.form-group label {
   font-weight: bold;
   font-size: .9em;
   margin-bottom: .4em;
}

.form-group input, .form-group text-area {
   padding: .6em;
   color: #777;
   font-size: .8em;
}

input[type="submit"] {
   background-color: #efef;
   border: 2px solid transparent;
   padding: .6em 1em;
   font-weight: bold;
   font-size: 1.1em;
   cursor: pointer;
   transition: .4s;
}

input[type="submit"]:hover {
   color: var(--cor2);
   border: 2px solid var(--cor2);
   background-color: transparent;
}